<!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
    <li class="nav-item">
        <a routerLink="/inicio" class="nav-link" aria-current="page" href="#">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Productos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Proveedores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Nosotros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Iniciar Sesión</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">carrito</a>
    </li>

</ul> -->

<header class="row container-fluid">
    <div class="col-12 mt-2 btn-responsive">
        <button class=" btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navegacion-responsive" aria-controls="navegacion-responsive" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
        </button>
    </div>
    <div class="col-12 header-style">
        <img class="logo" src="./assets/img/cosecha-logo.png" alt="">
    </div>
    <div class="col-12 header-style">
        <div class="input-group mb-2 container">
            <input type="text" class="form-control" placeholder="Buscar producto o proveedor" aria-label="Recipient's username" aria-describedby="btn-buscar">
            <button class="btn btn-outline-secondary" type="button" id="btn-buscar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg  barra">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navegacion-responsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a routerLink="/inicio" class="nav-link" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">carrito</a>
                </li>

            </ul>
        </div>
    </div>
</nav>