<div *ngIf="buscador == ''; else buscadorActivado">
    <div id="carouselExampleIndicators" class="carousel slide container carrusel-style" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/img/carruse3.jpg" class="d-block imagen-carrusel" alt="carrusel3">
            </div>
            <div class="carousel-item">
                <img src="./assets/img/carrusel2.jpg" class="d-block imagen-carrusel" alt="carrusel2">
            </div>
            <div class="carousel-item">
                <img src="./assets/img/carrusel1.jpg" class="d-block imagen-carrusel" alt="carrusel1">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
     </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
     </button>
    </div>

    <main class="container mt-5">
        <div class="row mb-3">
            <hr>
            <h2 class="titulo-seccion">Sobre Nosotros</h2>
            <div class="col-12 intro-style">
                <div class="intro-style-contenido">
                    <h2>¿Qué es cosecha?</h2>
                    <p>
                        Es una plataforma online que conecta a los productores locales con los restaurantes, banqueteras y negocios del giro gastronómico. Asimismo, ayuda a distribuir eficientemente a los proveedores agroalimentarios hasta el cliente final, reduciendo la cadena
                        de suministro.
                        <a routerLink="/nosotros">
                            Más información
                        </a>
                    </p>

                </div>

            </div>
        </div>
        <hr>
        <h2 class="titulo-seccion">Catálogos</h2>
        <div class="row catalogo">
            <h2>Proveedores</h2>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-verde">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 catalogo">
            <h2>Productos</h2>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-verde">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>

<ng-template #buscadorActivado>
    <app-respuesta-buscador></app-respuesta-buscador>
</ng-template>