:root {
    --verdePrimario: #598C0B;
    --verdeOscuro: #365914;
    --verdeOpacoOscuro: #738C5A;
    --verdeOpaco: #88A66A;
    --blanco: #FFFF;
    --grisClaro: #F2F2F2;
    --amarilloEstrella: #F3E42A;
    --naranjaPrimario: #F39C12;
    --naranjaOscuro: #D68910;
    --colorLabel: #839192;
    --fuenteTitulos: 'Signika Negative', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    /*font-family: 'Varela Round', sans-serif;*/
    font-family: var(--fuenteTitulos);
    margin-bottom: 2rem;
    font-weight: 600;
    color: var(--verdeOscuro);
}

a,
p {
    font-size: 1.1rem;
    line-height: 1.5;
}


/* Estilos generales para los formularios */

label {
    font-size: 1rem;
    color: var(--colorLabel);
}

.input-style-text:hover {
    border: 2px solid var(--verdeOpaco);
}

.input-style-text:focus {
    outline: rgb(4, 4, 4);
    box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}

.color-check:checked {
    background-color: var(--verdeOpaco);
    border: 0;
}

.grupo-form {
    margin-bottom: 0.5rem;
}

p .btn-responsive {
    display: block;
}

@media (min-width: 992px) {
    .btn-responsive {
        display: none;
    }
}

.a-responsive {
    display: inline;
}

@media (max-width: 992px) {
    .a-responsive {
        display: none;
    }
}

.precio {
    color: var(--verdeOscuro);
    font-weight: 600;
}

.btn-naranja {
    background-color: var(--naranjaPrimario);
    color: var(--blanco);
}

.btn-naranja:hover {
    background-color: var(--naranjaOscuro);
    color: var(--blanco);
}

.btn-verde {
    background-color: var(--verdeOpaco);
    color: var(--blanco);
    font-size: 1rem;
}

.btn-verde:hover {
    background-color: var(--verdeOpacoOscuro);
    color: var(--blanco);
}

@media (max-width: 768px) {
    .menu-responsive-lg {
        display: none;
    }
}

.color-header {
    background-color: var(--grisClaro);
}

.color-header button {
    color: var(--blanco);
    background-color: var(--blanco);
}

@media (min-width: 992px) {
    .menu-responsive-md {
        display: none;
    }
}

.pocisionar-paginacion {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.imagen-card {
    cursor: pointer;
}